---
title: Software Development
---
extends layouts/_layout
block content
	+header('', 'header__burger_dark')
	.product
		.product__head
			.product__center.center
				.product__wrap
					.product__stage.stage(data-aos="animation-scale-y") Our Skillsets
					h1.product__title.title.h1(data-aos="animation-scale-y" data-aos-delay="150") Software Development.
		.desc__center.center
			.desc__head
				.desc__title.h4(data-aos="animation-scale-y") Overview
				.desc__content.content(data-aos="animation-scale-y" data-aos-delay="200")
					p Our development capabilities range from custom built app development, to easily manageable CMS based websites.
					p Our primary skills lie in the custom developed application and web application space, with JavaScript, Java, Swift, and Python being our strongest skillsets.
					p We have a number of developers that are utilised according to the complexity of a project, from senior developers to IT interns; in this way we are able to deliver according to the scope and budget of most development projects. 
		.desc__center.center
			.desc__head
				.desc__title.h4(data-aos="animation-scale-y") Expertise
				.desc__content.content(data-aos="animation-scale-y" data-aos-delay="200")
					p Our primary focus is in the web development space, building progressive web applications with accessibility and scalability in mind.
					p Although we focus our development towards PWA's, we understand in certain scenarios native functionality is absolutly nessesary. Our team can build both native iOS and Andriod Applications; staying away from frameworks such as Cordova / Ionic, and developing in the native Swift and Java languages for long term support and updates.
					p Our development expertise extend further than the web and app development space, over the years we have built a strong understanding in AR, VR, ML and AI space. In many of our projects, we have leveraged our understand and expertise in Machine Learning to improve app experiences, optimise performance and create dynamic user dashboards. In this, we have leaveraged tools such as TensorFLow, Firebase and Algolia.

	.review
		.review__center.center
			.review__stage.stage(data-aos="animation-scale-y") Our Expertise
			h2.review__title.title.h1(data-aos="animation-scale-y" data-aos-delay="200") Tech Stack.
			.review__container(data-aos="animation-translate-y" data-aos-delay="400")
				.review__slider.owl-carousel.js-slider-tech
					.review__item
						.review__text 
						.review__author
							.review__ava
								img.review__pic(src="img/tech/JavaScript.png" alt="")
							.review__details
								.review__man.h5 JavaScript
								.review__company Netscape
					.review__item
						.review__text 
						.review__author
							.review__ava
								img.review__pic(src="img/tech/ReactJS.png" alt="")
							.review__details
								.review__man.h5 ReactJS
								.review__company Facebook
					.review__item
						.review__text 
						.review__author
							.review__ava
								img.review__pic(src="img/tech/NodeJS.png" alt="")
							.review__details
								.review__man.h5 NodeJS
								.review__company JavaScript
					.review__item
						.review__text
						.review__author
							.review__ava
								img.review__pic(src="img/tech/Swift.png" alt="")
							.review__details
								.review__man.h5 Swift
								.review__company Apple
					.review__item
						.review__text 
						.review__author
							.review__ava
								img.review__pic(src="img/tech/Firebase.png" alt="")
							.review__details
								.review__man.h5 Firebase
								.review__company Google
					.review__item
						.review__text 
						.review__author
							.review__ava
								img.review__pic(src="img/tech/TensorFlow.png" alt="")
							.review__details
								.review__man.h5 TensorFlow
								.review__company Google
					.review__item
						.review__text 
						.review__author
							.review__ava
								img.review__pic(src="img/tech/MySQL.png" alt="")
							.review__details
								.review__man.h5 MySQL
								.review__company Oracle
					.review__item
						.review__text 
						.review__author
							.review__ava
								img.review__pic(src="img/tech/Nginx.png" alt="")
							.review__details
								.review__man.h5 Nginx
								.review__company F5
					.review__item
						.review__text 
						.review__author
							.review__ava
								img.review__pic(src="img/tech/GoogleCloud.png" alt="")
							.review__details
								.review__man.h5 Google Cloud
								.review__company Google
					.review__item
						.review__text 
						.review__author
							.review__ava
								img.review__pic(src="img/tech/Azure.png" alt="")
							.review__details
								.review__man.h5 Azure
								.review__company Microsoft
					.review__item
						.review__text 
						.review__author
							.review__ava
								img.review__pic(src="img/tech/Docker.png" alt="")
							.review__details
								.review__man.h5 Docker
								.review__company Mirantis
		.review__bg
	.wrapper.wrapper_gradient
		.cases.cases_other
				.cases__figure
					img.cases__pic.js-parallax(data-scale="1.6" data-orientation="up" src="img/figure-2.png" alt="")
				.cases__figure
					img.cases__pic.js-parallax(data-scale="1.4" data-orientation="down" src="img/figure-3.png" alt="")
		+wrapperDark
