---
title: User User Interface
---
extends layouts/_layout
block content
	+header('', 'header__burger_dark')
	.product
		.product__head
			.product__center.center
				.product__wrap
					.product__stage.stage(data-aos="animation-scale-y") Our Skillsets
					h1.product__title.title.h1(data-aos="animation-scale-y" data-aos-delay="150") User Interface Design - Page in devleopment
	.desc__center.center
		.desc__head
			.desc__title.h4(data-aos="animation-scale-y") Overview
			.desc__content.content(data-aos="animation-scale-y" data-aos-delay="200")
				p User Interface (UI) is a critical component in the success of any software application or website. It encompasses the design of the visual elements and interactive components that users interact with when using the product.
				p At Wixels, we understand the importance of a well-designed and intuitive UI. Our team of experienced designers and developers work closely together to ensure that every UI we create is user-centric and aligns with the overall goals of the project.

	.desc__center.center
		.desc__head
			.desc__title.h4(data-aos="animation-scale-y") Our Process
			.desc__content.content(data-aos="animation-scale-y" data-aos-delay="200")
				p Our UI design process begins with extensive research and analysis of the target audience, user needs and preferences, and competitor offerings. We then create wireframes and prototypes to test and refine the UI design before moving on to finalizing the visual design.
				p Our UI designers have expertise in a range of design tools including Adobe XD, Sketch, Figma, and InVision. We work closely with our clients to ensure that the final UI design is not only visually appealing but also functional and easy to use.

.review
	.review__center.center
		.review__stage.stage(data-aos="animation-scale-y") Our Expertise
		h2.review__title.title.h1(data-aos="animation-scale-y" data-aos-delay="200") The tools we use.
		.review__container(data-aos="animation-translate-y" data-aos-delay="400")
			.review__slider.owl-carousel.js-slider-tech
				.review__item
					.review__text 
					.review__author
						.review__ava
							img.review__pic(src="img/ux/xd.png" alt="")
						.review__details
							.review__man.h5 Adobe XD
							.review__company Adobe
				.review__item
					.review__text 
					.review__author
						.review__ava
							img.review__pic(src="img/ux/sketch.png" alt="")
						.review__details
							.review__man.h5 Sketch
							.review__company Sketch B.V
				.review__item
					.review__text 
					.review__author
						.review__ava
							img.review__pic(src="img/ux/figma.png" alt="")
						.review__details
							.review__man.h5 Figma
							.review__company Figma Design
				.review__item
					.review__text
					.review__author
						.review__ava
							img.review__pic(src="img/ux/invision.png" alt="")
						.review__details
							.review__man.h5 InVision
							.review__company InVision
	.review__bg
	.wrapper.wrapper_gradient
		.cases.cases_other
				.cases__figure
					img.cases__pic.js-parallax(data-scale="1.6" data-orientation="up" src="img/figure-2.png" alt="")
				.cases__figure
					img.cases__pic.js-parallax(data-scale="1.4" data-orientation="down" src="img/figure-3.png" alt="")
		+wrapperDark
